*.apk
*.ap_

*.dex

*.class

bin/*
gen/*

.gradle/*
gradle.xml
build/*
/*/build/*
*.iml

local.properties

proguard/*

*.log

.settings

.classpath

bin

coverage

coverage.ec

coverage.em

gen

javadoc

junit-report.xml

lint-results.*ml

lint-results_files

local.properties

monkey.txt

*~

*.iws

atlassian-ide-plugin.xml

target

build

.gradle

out

build.xml

proguard-project.txt

.idea/*
*.iml
misc.xml
modules.xml
vcs.xml
workspace.xml
app.iml
encodings.xml